@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Libre+Franklin:wght@100&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
}
.navbar-toggler:focus
.navbar-toggler:active
.navbar-toggler-icon:focus
{
    outline: none;
    box-shadow: none;
    border: 0;
}
.toggler-icon
{
    width: 30px;
    height: 3px;
    background-color: red;
    display: block;
    transition: all 0.5s;
}
.middle-bar
{
    margin: 5px auto;
}
.navbar-toggler .top-bar
{
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar
{
    opacity: 0;
    filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar
{
    transform: rotate(-45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler.collapsed .top-bar
{
    transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar
{
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar
{
    transform: rotate(0);
}
.navbar-toggler.collapsed .toggler-icon
{
    background-color: white;
}
nav
{
    background-color: #1B242F;
}
#section-accueil
{
    background-image: url("../img/background-accueil.png");
    background-size: cover;
    margin: 5px 0;
}
.btn-me-contacter-accueil 
{
    border: 2px solid white;
    background-color: #252934;
    border-radius: 25px;
    color: white;
    width: 200px;
    height: 50px;
}
.bar-de-soulignement-du-titre
{
    background-color: black;
    width: 120px; height: 7px;
    margin: 0 auto;
}
h2
{
    text-align: center;
}
.btn-voir-mon-cv
{
    border: 2px solid black;
    background-color: #ffffff;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    text-align: center;
}
.card-formations
{
    border-top: 1px solid whitesmoke;
    border-left: solid 1px whitesmoke;
    width: 90%;
    margin: 0 10px;
    box-shadow: -5px -5px whitesmoke;
    
}
.grille
{
    display: grid;
    width: 100%;
    height: auto;
    margin: 30px auto;
    grid-template-columns: repeat(auto-fill,150px);
    justify-content: center;
    grid-gap: 20px 15px;
    background-color: #1B242F;
}
.grid-item
{
    width: 150px;
    height:auto;
}
.grid-item i 
{
    font-size: 100px;
}
.section-formation-img--location
{
    width: 50px;
}
.section-formation-nom-ecole
{
    position: absolute;
    left: 45px;
    top: 10px;
    padding-left: 5px;
    font-size: 18px;
}
.img-referent
{
    border-radius: 50%;
    margin-bottom: 15px;
}
.sous-section-reference img
{
    width: 50px;
}
.sous-section-reference-adresse-email
{
    font-size: 18px;
    position: absolute;
    left: 3.5rem;
    top: 1.5rem;
}
.grille-centre-interet
{
    background-color: #F5F5F5;
}
.footer-de-contact
{
    background-color: #252934;
    width: 100%;
    height: auto;
}
.img-contact-footer img
{
    width: 80px;
}
.img-contact-footer p
{
    position: absolute;
    left: 3.2rem;
    top: 1.5rem;
}
.fa-icon-footer
{
    color: white;
    font-size: 2rem;
    margin: 30px 20px;
}
.img-top
{
    position: absolute;
    width: 80px;
    bottom: 3.7rem;
    left: 6.5rem;
    
}

@media screen and (max-width: 450px) {
 main{
     margin: 0 suto;
 }
   
}